<!DOCTYPE html>
<html>
<head></head>
<body>
    <h1 class="overlayHeader">About Us</h1>
    <p id="aboutDescription"><span id="styleDesc">Furnitria</span> is a premier eCommerce retailer specializing in high-quality home furniture and appliances.
        We are committed to delivering exceptional value by offering a curated selection of stylish, durable products at competitive prices. </p>
    <h1 class="overlayHeader">Our Team</h1>
    <section class="staffContainer">
        <div class="staffCard">
            <img src="maleStaff1.png">
            <h2>Oliver Grant, CEO</h2>
            <p>Chief Executive Officer of 3 years. Oliver oversees all strategy and direction of the company,
                ensuring the vision of providing exceptional online shopping experiences is met.</p>
        </div>
        <div class="staffCard">
            <img src="femaleStaff1.png">
            <h2>Elena Martinez, CFO</h2>
            <p>Chief Financial Officer of 2 years. With a background in financial management
                and passion for optimizing resources, Elena ensures the business runs efficiently and
                maintains transparency and financial health of the company.</p>
        </div>
        <div class="staffCard">
            <img src="femaleStaff2.png">
            <h2>Samantha Rhoades, COO</h2>
            <p>Chief Operating Officer of 5 years. Samantha leads day to day operations of the
                company with a deep understanding of logistics and operations.</p>
        </div>
        <div class="staffCard">
            <img src="maleStaff2.png">
            <h2>Alan Cooper, CSO</h2>
            <p>Chief Strategy Officer of 2 years. Alan is responsible for maintaining the company's
                long-term strategy, including high-level business development, market positioning, and
                growth initiatives.</p>
        </div>
    </section>
    <button class="contactStaff" data-target="contact">Business Inquiries</button>
</body>
</html>
