<!DOCTYPE html>
<html>
    <head>
        <body>
            <section class="cartContainer">
                <div class="cartHeader">
                    <h2><span class="cart-your">Your </span>Cart</h2>
                    <button class="checkoutBtn" data-target="checkout">Checkout</button>
                </div>
                <hr class="cartHR">
                <div class="cartContents">
                    <div class="cartContentsInner">
                        <div id="productMarker"></div>
                    </div>
                </div>
            </section>
        </body>
</html>     