<!DOCTYPE html>
<html>
    <head>
        <body>
            <section class="contactContainer">
                <h2>Contact Us!</h2>
                <p id="contactDesc">Send us a message for info on partnering, customer service, or general questions!</p>
                <form id="contactForm" class="contact-form">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" required placeholder="Enter your first name...">
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" required placeholder="Enter your last name...">
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required placeholder="Enter your email...">
                </div>

                <div class="form-group">
                    <label for="emailMessage">Leave a Message:</label>
                    <textarea id="emailMessage" name="emailMessage" rows="5" required placeholder="Enter your message here..."></textarea>
                </div>

                <button type="submit" class="submit-button">Send Message</button>
                <p id="contact-status" class="contact-status"></p>
            </form>
            </section>
        </body>
</html>