<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furnituria | Login</title>
</head>
<body>
  <div class="accountOverview">
    <div class="navPanel">
      <button>Overview</button>
      <button>Payment Methods</button>
      <button>Order History</button>
      <button>Shipping and Billing Addresses</button>
      <button>Wishlist</button>
      <button>Returns and Refunds</button>
      <button>Rewards</button>
      <button>Newsletter</button>
      <button>Settings</button>
      <button>Admin Center</button>
    </div>
    <div class="contentPane">
      
    </div>
  </div>
</body>
</html>
