<!DOCTYPE html>
<html>
    <head>
        <body>
            <section class="cartContainer">
                <div class="cartHeader">
                    <h2>Your Cart</h2>
                    <button class="checkoutBtn">Checkout</button>
                </div>
                <hr class="cartHR">
                <div class="cartContents">
                    <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <img class="cartImage" src="chair.jpg">
                            </div>
                            <button class="rmvCart">
                                Remove from Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                    </div>
                    <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <img class="cartImage" src="chair.jpg">
                            </div>
                            <button class="rmvCart">
                                Remove from Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                    </div>
                    <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <img class="cartImage" src="chair.jpg">
                            </div>
                            <button class="rmvCart">
                                Remove from Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                    </div>
                    <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <img class="cartImage" src="chair.jpg">
                            </div>
                            <button class="rmvCart">
                                Remove from Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                    </div>
                </div>
            </section>
        </body>
</html>      