<!DOCTYPE html>
<html>
    <head>
        <body>
            <section class="productList">
                <div class="productContents">
                    <div class="productHeader">
                        <h2>Our Products</h2>
                        <form action="/search" method="get">
                            <img class="searchIcon" src="search.png">
                            <input class="searchProducts" type="text" name="q" placeholder="Search products...">
                            <button class="searchBtn" type="submit">Search</button>
                        </form>
                    </div>
                    <hr>
                    <div class="productsContainer">
                    <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <img class="cartImage" src="chair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                    </div>
                    <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <img class="cartImage" src="chair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                    </div>
                    <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <img class="cartImage" src="chair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                    </div>
                </div>
            </section>
        </body>
</html>