<!DOCTYPE html>
<html>
    <head>
        <body>
            <section class="productList">
                <div class="productContents">
                    <div class="productHeader">
                        <h2>Our Products</h2>
                        <form action="/search" class="searchContainer" method="get">
                            <div class="searchRow">
                                <img class="searchIcon" src="search.png">
                                <input class="searchProducts" type="text" name="q" placeholder="Search products...">
                            </div>
                            <button class="searchBtn" type="submit">Search</button>
                        </form>
                    </div>
                    <hr>
                    <div class="productsContainer">
                        <div class="cartProduct">
                                <label class="itemTitle">Four-legged Fancy Chair</label>
                                <div class="imgContnr">
                                    <img class="info" src="info.png">
                                    <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                    <img class="closeProd hidden" src="close.png">
                                    <img class="cartImage" src="blackchair.jpg">
                                </div>
                                <button class="addToCart">
                                    Add to Cart
                                </button>
                            <label class="cartProdPrice">
                                $39.99
                            </label>
                        </div>
                        <div class="cartProduct">
                                <label class="itemTitle">Four-legged Fancy Chair</label>
                                <div class="imgContnr">
                                    <img class="info" src="info.png">
                                    <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                    <img class="closeProd hidden" src="close.png">
                                    <img class="cartImage" src="blackskinnychair.jpg">
                                </div>
                                <button class="addToCart">
                                    Add to Cart
                                </button>
                            <label class="cartProdPrice">
                                $39.99
                            </label>
                        </div>
                        <div class="cartProduct">
                                <label class="itemTitle">Four-legged Fancy Chair</label>
                                <div class="imgContnr">
                                    <img class="info" src="info.png">
                                    <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                    <img class="closeProd hidden" src="close.png">
                                    <img class="cartImage" src="blueleatherchair.jpg">
                                </div>
                                <button class="addToCart">
                                    Add to Cart
                                </button>
                            <label class="cartProdPrice">
                                $39.99
                            </label>
                        </div>
                        <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                <img class="closeProd hidden" src="close.png">
                                <img class="cartImage" src="brownofficechair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                        </div>
                        <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                <img class="closeProd hidden" src="close.png">
                                <img class="cartImage" src="comfychair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                        </div>
                        <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                <img class="closeProd hidden" src="close.png">
                                <img class="cartImage" src="nettedchair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                        </div>
                        <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                <img class="closeProd hidden" src="close.png">
                                <img class="cartImage" src="stoolchair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                        </div>
                        <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                <img class="closeProd hidden" src="close.png">
                                <img class="cartImage" src="sunglazedchair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                        </div>
                        <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                <img class="closeProd hidden" src="close.png">
                                <img class="cartImage" src="whitechair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                        </div>
                        <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                <img class="closeProd hidden" src="close.png">
                                <img class="cartImage" src="woodchair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                        </div>
                        <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                <img class="closeProd hidden" src="close.png">
                                <img class="cartImage" src="woodofficechair.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                        </div>
                        <div class="cartProduct">
                            <label class="itemTitle">Four-legged Fancy Chair</label>
                            <div class="imgContnr">
                                <img class="info" src="info.png">
                                <label class="productDesc">Here is a description of the product. It has two seats, seven legs, and built-in popcorn.</label>
                                <img class="closeProd hidden" src="close.png">
                                <img class="cartImage" src="woodstool.jpg">
                            </div>
                            <button class="addToCart">
                                Add to Cart
                            </button>
                        <label class="cartProdPrice">
                            $39.99
                        </label>
                        </div>
                </div>
            </section>
        </body>
</html>