<!DOCTYPE html>
<html>
    <head>
        <body>
            <section class="productList">
                <div class="productContents">
                    <div class="productHeader">
                        <h2>Shop Our Products</h2>
                        <!--
                        <form action="/search" class="searchContainer" method="get">
                            <div class="searchRow">
                                <img class="searchIcon" src="search.png">
                                <input class="searchProducts" type="text" name="q" placeholder="Search products...">
                            </div>
                            <button class="searchBtn" type="submit">Search</button>
                        </form>
                    -->
                    </div>
                    <hr>
                    <div class="productsContainer">
                        <div id="productMarker"></div>
                </div>
            </section>
        </body>
</html>